.vscode/
venv/
ENV/
env/
.Python
__pycache__/
*.py[cod]
*~
db.sqlite3
staticfiles/
media/
pip-wheel-metadata/
dist/
build/
.env
*.log
2023-07-16_18-43-48.mp4
2023-07-16_18-45-50.mp4
2023-07-16_19-15-56.mp4
Certificate.png
EduToolsHub Demo Video.mp4
EduToolsHub Logo.jpg
EduToolsHub-Thumbnail.png
EduToolsHub-Thumbnail2.png
EduToolsHub-Thumbnail3.png
EduToolsHub1.png
EduToolsHub2.png