{% extends 'dashboard/base.html' %} 
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
Dictionary - EduToolsHub
{% endblock title %}
{% block content %}
<section class='text-center container'>
    <h2>Dictionary</h2>
    <p>Enter any word to get the phonetics, definition, and an example for the word</p>
    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
    <div class="content-section p-3 mt-4">
        {% if input %}
        <div class="mb-3">
            <h2 class="mb-1">{{ input }}</h2>
            <div class="text-muted small">{{ phonetics }}</div>
            <audio id="player" src="{{ audio }}"></audio>
          <div class="mt-2">
            <button class="btn btn-sm btn-outline-primary" onclick="document.getElementById('player').play()" type="button">
              <i class='fa fa-volume-up'></i> Play
            </button>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-12 col-md-8">
            <h5>Definition</h5>
            <p>{{ definition }}</p>
            <h5>Example</h5>
            <p>{{ example }}</p>
          </div>
          <div class="col-12 col-md-4">
            <h6>Synonyms</h6>
            <ul>
              {% for synonym in synonyms %}
              <li>{{ synonym }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <hr>

    </div>
    {% else %}
    <h2>Enter the word</h2>
    {% endif %}
</section>
{% endblock content %}