{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
<section class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <div class="content-section p-4 mt-4">
                <h2 class="mb-2">{{ notes.title }}</h2>
                <hr>
                <div class="description mt-3">
                    {{ notes.description }}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}